
{% extends "todo/base.html" %}
{% block content%}
    <div id="loading-message" class="text-white bg-gray-700">Loading...</div>

    <div class="w-1/2 my-6 mx-auto p-2 lg:p-5 rounded-xl dark:bg-gray-800" id="main-content">
        <form class="flex mb-6 space-x-4" hx-post="create_todo/" hx-target="#todos" hx-swap="afterend">
            <input type="text" name="content" class="content bg-gray-50 border border-gray-300 text-gray-900 sm:text-l rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="What needs to be done?" autofocus />
            <button class="p-3 rounded-xl duration-300 text-white bg-gray-700 hover:bg-slate-600">Add Task</button>
        </form>

        <div class="peer divide-y rounded-xl divide-slate-200" id="todos">
            {% for todo in todos %}
                {% include 'todo/partials/todo.html' %}
            {% endfor %}
        </div>

        <div class="flex px-6 py-3 rounded-xl dark:bg-gray-700">
            <ul class="filters ml-auto flex">
                <li>
                    <button
                        class="text-white hover:border-slate-500 border border-transparent rounded-md px-3 py-1 text-xs font-medium"
                        onclick="showAllTodos()">All</button>
                </li>
                <li>
                    <button
                        class="text-white hover:border-slate-500 border border-transparent rounded-md px-3 py-1 text-xs font-medium"
                        onclick="showActiveTodos()" id="active_todo">Active {{ todo|length }}</button>
                </li>
                <li>
                    <button
                        class="text-white hover:border-slate-500 border border-transparent rounded-md px-3 py-1 text-xs font-medium"
                        onclick="showCompletedTodos()">Completed</button>
                </li>
            </ul>
        </div>
    </div>


<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });
    document.body.addEventListener('htmx:afterRequest', (event) => {
        document.querySelector("input.content").value = '';
        updateItemCount();
    });

    function updateItemCount() {
        var totalItems = document.querySelectorAll('#todo-article').length;
        var completedItems = document.querySelectorAll('#todo-article input[type="checkbox"]:checked').length;
        var itemsLeft = totalItems - completedItems;
        document.getElementById('active_todo').innerText = ' Active ' + itemsLeft;
    }

    function showAllTodos() {
        console.log()
        document.querySelectorAll('#todo-article').forEach(function (todo) {
            todo.style.display = 'flex';
        });
    }
    function showActiveTodos() {
        document.querySelectorAll('#todo-article').forEach(function (todo) {
            if (todo.querySelector('input[type="checkbox"]').checked) {
                todo.style.display = 'none';
            } else {
                todo.style.display = 'flex';
            }
        });
    }
    function showCompletedTodos() {
        document.querySelectorAll('#todo-article').forEach(function (todo) {
            if (todo.querySelector('input[type="checkbox"]').checked) {
                todo.style.display = 'flex';
            } else {
                todo.style.display = 'none';
            }
        });
    }
    window.addEventListener('load', function () {
        document.getElementById('loading-message').style.display = 'none';
        document.getElementById('main-content').style.display = 'block';
        updateItemCount();
    });


</script>
{% endblock%}